VITE_CUBE_API_URL=http://localhost:4000/cubejs-api/v1
VITE_CUBE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NDg3MTE1ODAsImV4cCI6MTc0ODc5Nzk4MH0.VnxY4xCtgXSj7Qy0Q8nZojFr0h6WBNUL4U6UqXww6QA
VITE_CUBE_API_USE_WEBSOCKETS=true
VITE_CUBE_API_USE_SUBSCRIPTION=true