# Application Settings
NODE_ENV=development
PORT=80

# Indexing Settings
UNTIL_TIMESTAMP=2025-05-28

# Frontend Configuration
VITE_APP_TITLE=HackVision Analytics
VITE_CUBE_API_URL=http://localhost:4000
VITE_API_BASE_URL=http://localhost:4000

# Cube.js Configuration
CUBEJS_PORT=4000
CUBEJS_API_SECRET=c2bcaea61058516ab62a51db54d06afd8110f17b7febb4835715acc33f367eabde235a75f608ef73e7a9ee2e8f9debe52fbf252bd70fe846ad8920b6377f1f80 # change this bro
CUBEJS_DEV_MODE=true

# Blockscout Configuration
# Replace with your Blockscout instance URL if self-hosted
BLOCKSCOUT_API_URL=https://rootstock-testnet.blockscout.com/api/v2/transactions
# Configure in your Blockscout instance for unlimited access
BLOCKSCOUT_API_KEY=your-blockscout-api-key